.child1,.child2,.child3 {
    border: solid 1px;
    padding: 20px;
    margin: 10px 0px;
    text-align: center;
    color: white;
    font-weight: 700;
}

.child1 {
    background-color: aqua;
    
}

.child2 {
    background-color: green;
    height: 80px;
    position: relative;
    top: 100px;
    width: 100%;
    z-index: 7;
}

.child3{
    position: relative;
    background-color: blueviolet;
    z-index: 8;

}